#jeremy{
    position: relative;
    grid-area: jeremy;
    background-color: hsl(246, 80%, 60%);
    border-radius: 10px;

    p{
        font-family: 'Rubik', sans-serif;
        margin-left: 20px;
        margin-top: 20px;
        color: rgb(161, 160, 160);
    }

    h3{
        color: white;
        font-family: 'Rubik', sans-serif;
        margin-left: 20px;
        font-size: 1.8em;
        letter-spacing: 1px;
        
    }

    #boxImage{
        padding-left: 20px;
        padding-top: 20px;
    }

    #options{
        width: 100%;
        height: 30%;
        background-color: hsl(235, 46%, 20%);
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 5px;

        ul{
            list-style-type: none;
            font-family: 'Rubik', sans-serif;
            padding-left: 20px;
            padding-top: 8px;

            li{
                margin: 10px;
            }

            a{
                text-decoration: none;
                color: rgb(161, 160, 160);

                &:hover{
                    color: white;
                }
            }
        }
    }
}