#play{
    grid-area: play;
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;

    #imagePlay{
        width: 100%;
        height: 7vh;
        background-image: url(/images/icon-play.svg);
        background-repeat: no-repeat;
        background-position: center right;
        border-radius: 10px;
        background-color: hsl(195, 74%, 62%);

    }

    .hobby{
        display: flex;
        justify-content: space-around;
        margin-top: 15px;

        p{
            font-family: 'Rubik', sans-serif;
            color: white;
        }

        .select{
            display: flex;
            cursor: pointer;

            #bar1,#bar2,#bar3{
                margin: 1px;
                width: 6px;
                height: 1vh;
                border-radius: 50%;
                background-color: white;

            }

        }

        
    }

    #data1{
        display: flex;
        font-family: 'Rubik', sans-serif;
        font-size: 2.3em;
        color: white;
        margin-left: 49px;
        margin-top: 17px;
    }

    #data2{
        display: flex;
        color: rgb(161, 160, 160);
        font-family: 'Rubik', sans-serif;
        margin-left: 49px;
        margin-top: 15px;
    }
}