#selfCare{
    grid-area: selfCare;
    border-radius: 10px;
    background-color: hsl(235, 46%, 20%);

    #imageSelfcare{
        width: 100%;
        height: 7vh;
        background-image: url(/images/icon-self-care.svg);
        background-repeat: no-repeat;
        background-position: center right;
        border-radius: 10px;
        background-color: hsl(43, 84%, 65%);

    }
}