#selfCare{
    grid-area: selfCare;
    border-radius: 10px;
    background-color: hsl(235, 46%, 20%);

    #imageSelfcare{
        width: 100%;
        height: 7vh;
        background-image: url(/images/icon-self-care.svg);
        background-repeat: no-repeat;
        background-position: center right;
        border-radius: 10px;
        background-color: hsl(43, 84%, 65%);

    }

    .hobby{
        display: flex;
        justify-content: space-around;
        margin-top: 15px;

        .select{
            display: flex;

            #bar1,#bar2,#bar3{
                margin: 1px;
                width: 6px;
                height: 1vh;
                border-radius: 50%;
                background-color: white;

            }

        }

        
    }

    #data1{
        display: flex;
    }

    #data2{
        display: flex;
    }
}